.activity {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	&__days {
		display: flex;

		&:nth-child(2n) {
			margin-left: 32px;
		}
	}

	&__diagram {
		// height: auto;
		// transform: scale(3);
	}

	&__scale {
		flex-direction: row;
		// height: auto;

		.scale {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin: 0 4px;
			
			&__amount, &__hour {
				width: 60px;
				height: 12px;
				margin: 8px 0;
			}

			&__hour {
				display: flex;
				align-items: center;

				&--vertical {
					width: 4px;
					height: 100%;
					background: var(--activity-hour-vertical-background-color);
					box-shadow: var(--activity-hour-vertical-shadow);
				}

				&--horizontal {
					width: 52px;
					height: 4px;
					background: var(--activity-hour-horizontal-background-color);
					box-shadow: var(--activity-hour-horizontal-shadow);
				}
			}

			&__amount {
				border-radius: 2px;
				&--min {
					background: var(--activity-amount-min-background-color);
					box-shadow: var(--activity-amount-min-shadow);
				}

				&--max {
					background: var(--activity-amount-max-background-color);
					box-shadow: var(--activity-amount-max-shadow);
				}

				&--mid {
					background: var(--activity-amount-mid-background-color);
					box-shadow: var(--activity-amount-mid-shadow);
				}

				&--extra {
					background: var(--activity-amount-extra-background-color);
					box-shadow: var(--activity-amount-extra-shadow);
				}
			}
		}
	}
}