@font-face {
	font-family: 'Roboto';
	src: url('../Assets/fonts/Roboto-Bold.ttf');
	font-style: normal;
	font-weight: bold;
}

@font-face {
	font-family: 'Roboto';
	src: url('../Assets/fonts/Roboto-Medium.ttf');
	font-style: normal;
	font-weight: 500;
}

@font-face {
	font-family: 'Roboto';
	src: url('../Assets/fonts/Roboto-Regular.ttf');
	font-style: normal;
	font-weight: normal;
}