:root {
	--theme-background-color: #{$background-color-dark};

	--theme-font-primary-color: #{$font-color-primary-dark};
	--theme-font-secondary-color: #{$font-color-secondary-dark};

	--bar-chat-primary-background-color: #{$bar-chat-primary-background-color-dark};
	--bar-chat-secondary-background-color: #{$bar-chat-secondary-background-color-dark};
	--bar-chat-primary-box-shadow: #{$bar-chat-primary-box-shadow-dark};
	--bar-chat-secondary-box-shadow: #{$bar-chat-secondary-box-shadow-dark};

	--divider-background-color: #{$divider-background-color-dark};

	--activity-hour-vertical-background-color: #{$activity-hour-vertical-background-color-dark};
	--activity-hour-vertical-shadow: #{$activity-hour-vertical-shadow-dark};
	--activity-hour-horizontal-background-color: #{$activity-hour-horizontal-background-color-dark};
	--activity-hour-horizontal-shadow: #{$activity-hour-horizontal-shadow-dark};
	--activity-amount-min-background-color: #{$activity-amount-min-background-color-dark};
	--activity-amount-min-shadow: #{$activity-amount-min-shadow-dark};
	--activity-amount-mid-background-color: #{$activity-amount-mid-background-color-dark};
	--activity-amount-mid-shadow: #{$activity-amount-mid-shadow-dark};
	--activity-amount-max-background-color: #{$activity-amount-max-background-color-dark};
	--activity-amount-max-shadow: #{$activity-amount-max-shadow-dark};
	--activity-amount-extra-background-color: #{$activity-amount-extra-background-color-dark};
	--activity-amount-extra-shadow: #{$activity-amount-extra-shadow-dark};

	--diagram-circle-extra-background-color: #{$diagram-circle-extra-background-color-dark};
	--diagram-circle-extra-box-shadow: #{$diagram-circle-extra-box-shadow-dark};
	--diagram-circle-max-background-color: #{$diagram-circle-max-background-color-dark};
	--diagram-circle-max-box-shadow: #{$diagram-circle-max-box-shadow-dark};
	--diagram-circle-mid-background-color: #{$diagram-circle-mid-background-color-dark};
	--diagram-circle-mid-box-shadow: #{$diagram-circle-mid-box-shadow-dark};
	--diagram-circle-min-background-color: #{$diagram-circle-min-background-color-dark};
	--diagram-circle-min-box-shadow: #{$diagram-circle-min-box-shadow-dark};
	--diagram-segment-extra-background-color: #{$diagram-segment-extra-background-color-dark};
	--diagram-segment-max-background-color: #{$diagram-segment-max-background-color-dark};
	--diagram-segment-mid-background-color: #{$diagram-segment-mid-background-color-dark};
	--diagram-segment-min-background-color: #{$diagram-segment-min-background-color-dark};
}

.theme_light {
	--theme-background-color: #{$background-color-light};

	--theme-font-primary-color: #{$font-color-primary-light};
	--theme-font-secondary-color: #{$font-color-secondary-light};

	--bar-chat-primary-background-color: #{$bar-chat-primary-background-color-light};
	--bar-chat-secondary-background-color: #{$bar-chat-secondary-background-color-light};
	--bar-chat-primary-box-shadow: #{$bar-chat-primary-box-shadow-light};
	--bar-chat-secondary-box-shadow: #{$bar-chat-secondary-box-shadow-light};

	--divider-background-color: #{$divider-background-color-light};

	--activity-hour-vertical-background-color: #{$activity-hour-vertical-background-color-light};
	--activity-hour-vertical-shadow: #{$activity-hour-vertical-shadow-light};
	--activity-hour-horizontal-background-color: #{$activity-hour-horizontal-background-color-light};
	--activity-hour-horizontal-shadow: #{$activity-hour-horizontal-shadow-light};
	--activity-amount-min-background-color: #{$activity-amount-min-background-color-light};
	--activity-amount-min-shadow: #{$activity-amount-min-shadow-light};
	--activity-amount-mid-background-color: #{$activity-amount-mid-background-color-light};
	--activity-amount-mid-shadow: #{$activity-amount-mid-shadow-light};
	--activity-amount-max-background-color: #{$activity-amount-max-background-color-light};
	--activity-amount-max-shadow: #{$activity-amount-max-shadow-light};
	--activity-amount-extra-background-color: #{$activity-amount-extra-background-color-light};
	--activity-amount-extra-shadow: #{$activity-amount-extra-shadow-light};

	--diagram-circle-extra-background-color: #{$diagram-circle-extra-background-color-light};
	--diagram-circle-extra-box-shadow: #{$diagram-circle-extra-box-shadow-light};
	--diagram-circle-max-background-color: #{$diagram-circle-max-background-color-light};
	--diagram-circle-max-box-shadow: #{$diagram-circle-max-box-shadow-light};
	--diagram-circle-mid-background-color: #{$diagram-circle-mid-background-color-light};
	--diagram-circle-mid-box-shadow: #{$diagram-circle-mid-box-shadow-light};
	--diagram-circle-min-background-color: #{$diagram-circle-min-background-color-light};
	--diagram-circle-min-box-shadow: #{$diagram-circle-min-box-shadow-light};
	--diagram-segment-extra-background-color: #{$diagram-segment-extra-background-color-light};
	--diagram-segment-max-background-color: #{$diagram-segment-max-background-color-light};
	--diagram-segment-mid-background-color: #{$diagram-segment-mid-background-color-light};
	--diagram-segment-min-background-color: #{$diagram-segment-min-background-color-light};
}

* {
	box-sizing: border-box;
}

body {
	height: 100vh;
	background: var(--theme-background-color);
	background-repeat: no-repeat;
	background-size: auto;
	background-position: center;
	color: var(--theme-font-primary-color);
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	margin: 0;
	padding: 0 ;
}

div#root {
	height: 100%;
}
