@media screen and (orientation: landscape) and (max-width: 1024px) {
	.template-header {
		height: 31%;
		text-align: center;
	}

	.template-body {
		height: 60%;

		&__chart {
			height: 69%;
		}
	}
}
